<!DOCTYPE html>
<html>
<head>
    <title>Modifier Tâche</title>
</head>
<body>
    <h1>Modifier la tâche</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}
</body>
</html>
