<!DOCTYPE html>
<html>
<head>
    <title>Nouvelle Tâche</title>
</head>
<body>
    <h1>Ajouter une nouvelle tâche</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
</body>
</html>
